
table tr:hover{
   cursor: pointer;
}

table{
  border-radius: 10px !important;
  overflow-x:auto;
}
thead{
  background-color: var(--main-color);
  color: white;
  border-radius: 4px !important;
}
th p {
  background-color: var(--main-color);
  color: white;
  padding: 0;
  margin: 0;
}
thead th{
  padding: 14px 16px;
  
}
tr td {
  border: none;
  font-size: 13px;
}
a{
  text-decoration: none;
}
.table-container {
  overflow-x: auto; /* Enables horizontal scrolling */
   white-space: nowrap; 
}  